 *{
	box-sizing: border-box;
}
body{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	background-position: right center;
    height: 100vh;
	
}
.f-container{
	display: flex;
	justify-content:space-between;
}
.wrapper-fluid{
	width:100%;
	padding-top:30px;
	padding-left:90px;
	padding-bottom:30px;
	background: rgba(0, 0, 0, 0.9);
	position:static;
}
.f-item{
	width: 100%;
}
header h1 a{
	font-size: 36px;
	color: #fff;
	font-family: 'Poppins', 'Arial', sans-serif;
	font-weight: 700;
	text-decoration:none;
}

.main-navigation a{
	font-size:16px;
	text-decoration: none;
	display: inline-block;
	padding: 0 10px;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Poppins', 'Arial', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}
.main-navigation a.active{
	position: relative;
	color:#fff;
}
.main-navigation a.active:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background: #18d26e;
	top: 20px;
	left: 10px;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
    height: 1200px;
}
.about-content{
	padding-left:30px;
	padding-top:30px;
}
.about-content .title{
	
	
}
.title h2{
	font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    margin: 0px 0px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(170, 170, 170);
    font-family: Poppins, sans-serif;
}
.title p{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
}
.box-70{
	width:70%;
}
.box-25{
	width:25%;
}
.box-30{
	width:30%;
}
.box-50{
	width:50%;
}
.box-100{
	width:100%;
}
.details h3{
	font-weight: 700;
    font-size: 26px;
    color: #18d26e;
	font-family: "Raleway", sans-serif;
	margin-top:20px;
}
.details p{
	margin-top: 10px;
    margin-bottom: 1rem;
	font-style:italic;
	color:#fff;
	font-size:19px;
}
.profile-data{
	display:inline-block;
	font-family: "Open Sans", sans-serif;
}
.profile-data h1{
	color:#fff;
	display:inline-block;
	font-size: 18px;
    font-weight: bolder;
}
.profile-data p{
	color:#fff;
	display:inline-block;
}
.f-wrap-wrap{
	flex-wrap:wrap;
}
p.bottom-para{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
    line-height: 1.4;
}
.data-counter{
	margin-bottom:20px;
}
.data-counter .count-box{
	color:#fff;
	height:80px;
	width:150px;
	background: rgba(255, 255, 255, 0.08);
}